<ion-side-menus>
	<div ng-init="loadAppData()"></div>
	<ion-pane ion-side-menu-content drag-content="false">
		<ion-nav-bar class="bar-tru nav-title-slide-ios7 bar-reactor">
			<ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-view name="mainContent" animation="slide-left-right"></ion-nav-view>
	</ion-pane>

	<ion-side-menu side="left">

		<header class="bar bar-header bar-reactor">
			<h1 class="title"></h1>
		</header>

		<ion-content class="has-header">
			<ion-list>
				<div ng-repeat="item in menus">
					<div ng-if="item.divider" class="item item-divider">{{item.divider}}</div>
					<div ng-repeat="links in item.items">
						<ion-item nav-clear menu-close ng-class="menuItemClass" href="#/app/{{links.page_data.route}}/{{links.page_id}}">
							<i ng-if="menuItemClass" class="icon" ng-class="links.icon"></i>
							{{links.title}}
							<span class="item-note" ng-bind-html="links.small_text"></span>
						</ion-item>
					</div>
				</div>
			</ion-list>

		</ion-content>

	</ion-side-menu>

</ion-side-menus>
